

<div class="card" style="width: 18rem;">
  <img src="{{image}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Title:{{title}}</h5>
    <h5>Director:{{director}}</h5> 
    <h5>Stars:{{Stars}}</h5>
    <p class="card-text">Description:{{description}}</p>
    <h5>Showtimes:{{showtimes}}</h5>
  </div>
</div>
